section.about {
  background-color: whitesmoke;
  h2 {
    text-align: center;
  }
}

section.bio {
  padding-top: 1.5rem;
  padding-bottom: 10rem;
}

section.code {
  padding-top: 1.5rem;
  padding-bottom: 10rem;
}

section.music {
  padding-top: 1.5rem;
  padding-bottom: 10rem;
}
