@import "colors";

.screen.fan-section {
  background-image: url("../img/fan-wall.jpg");
  justify-content: flex-start !important;

  & .search-bar {
    display: block;
    width: 70%;
    height: 100%;

    border: none;
    text-align: center;
  }

  & .concert-list {
    display: block;
    width: 70%;
    height: 100%;

    & li {
      cursor: pointer;
    }

    & li:hover:not(.search-li) {
      background-color: $hover-fan-list-selection;
    }
  }

  @media (min-width: 1100px) {
    & .search-bar {
      width: 40%;
    }

    & .concert-list {
      width: 40%;
    }
  }

}