@import "colors";

.screen.fan-section {
  background-image: url("../img/fan-wall.jpg");
  justify-content: flex-start !important;
  & .concert-list {
    display: block;
    width: 40%;
    height: 100%;

    & .search-bar{
      border: none;
      text-align: center;
    }

    & li {
      cursor: pointer;
    }

    & li:hover:not(.search-li) {
      background-color: $hover-fan-list-selection;
    }
  }
}