@import "colors";

.map-section{
  & .map {
    position: absolute;
    width: 100%;
    height: calc(100% - 3.3rem);
    top: 3.3rem;
    left: 0;
  }
}

.map-text {
  color: $black-font;
  font-size: large;
}