@import "colors";

body {
  background-color: #1d2124;
}

section {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  //justify-content: center;
  //align-items: center;

  background-size: cover;
  background-image: url("../img/band_live.jpg");
  background-color: #1d2124;
  background-repeat: no-repeat;

  z-index: 1;

  text-align: center;
  font-family: 'Gugi', cursive;
  font-size: large;
  color: $welcome-header-text-color;
  //transition: transform 500ms;
  transform: translateY(-100%);

  & .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $black-overlay;
    visibility: hidden;
  }

  & a {
    color: $welcome-header-text-color;
    &:hover {
      color: $welcome-header-text-color;
    }
  }

}

.previous-section {
  transition: transform 500ms;
  transform: translateY(-100%);
}

.next-section {
  transition: transform 0ms;
  transform: translateY(100%);
}

.active {
  transition: transform 500ms !important;
  transform: translateY(0) !important;
}