@import "colors";

body {
  background-color: #1d2124;
}

section {
  display: flex;
  height: calc(100vh);
  justify-content: center;
  align-items: center;

  background-size: 100% 100%;
  background-image: url("../img/band_live.jpg");
  background-color: #1d2124;
  background-repeat: no-repeat;

  z-index: 1;

  text-align: center;
  font-family: 'Gugi', cursive;
  font-size: large;
  color: $welcome-header-text-color;

  & .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $black-overlay;
    visibility: hidden;
  }

  & a {
    color: $welcome-header-text-color;
    &:hover {
      color: $welcome-header-text-color;
    }
  }

}

.active {
  visibility: visible;
}